body{
  background:rosybrown;
  font-family:Arial,sans-serif;
}
p{
   margin: 5px 0;
}
a{
   text-decoration: none;
}
.business-card {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    text-align: center;
    font-size:16px;
}
.profile-image{
  max-width:100%;
}